{% extends "base.html" %}
{% block title %} Forum threads {% endblock %}

{% block content %}

<h1>FORUM INSPIRACJI</h1>

<div ng-controller="threadsListController" ng-init="init()">
    <div class='fil' style="display: inline-block; margin-left:50px;">
        <form role="form">
            <input type="text" class="form-control" placeholder="Filter..." ng-model="searchStr">
        </form>
    </div>
    <div style="float: right;margin:0 50px;">
        <a href="{% url 'add-thread' %}">
            <button type="button" class="btn btn-primary">Dodaj nowy wątek</button>
        </a>
    </div>

    <div ng-repeat="thread in threads | filter:searchStr">
        <div class="thread-block">
            {% verbatim %}
            <table class="thread-table">
                <tr>
                    <th>Wątek:</th>
                    <td class = 'thread-name btn'><a ng-click="openThreadPosts(thread.pk)" >{{ thread.fields.temat }}</a></td>
                </tr>
                <tr>
                    <th>Data dodania:</th>
                    <td class ='thread-data'>{{ thread.fields.data_dodania }}</td>
                </tr>
                <tr>
                    <th>Data ostatniego posta:</th>
                    <td class ='thread-data'>{{ thread.fields.data_ostatniego_posta }}</td>
                </tr>
            </table>
        </div>

        {% endverbatim %}
        <div class="btn-tollbar" style="float: right;margin:0 50px;">
            {% if user.is_superuser %}
            {% verbatim %}
            <button type="button" class="btn btn-danger" ng-click="removeThread(thread.pk)">Usuń</button>
            {% endverbatim %}
            {% endif %}

            <!--{% verbatim %}

            <button type="button" class="btn btn-primary"  ng-click="openThreadPosts(thread.pk)" >Przegladaj</button>
            {% endverbatim %}--> 
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

{% endblock %}