<table class="idea-table" id="idea-table-row">
    <tr id="idea-table-topic">
        <th style="width: 25%; color:black;">Temat:</th>
        <td>{{ idea.tematyka }}</td>
    </tr>
    <tr>
        <th>Dodano:</th>
        <td ng-if="idea.dni_od_dodania==0">Dzisiaj</td>
        <td ng-if="idea.dni_od_dodania==1">{{ idea.dni_od_dodania }} dzień temu</td>
        <td ng-if="idea.dni_od_dodania>1">{{ idea.dni_od_dodania }} dni temu</td>
    </tr>
    <tr>
        <th>Status:</th>
        <td>{{ idea.status_pomyslu_id }}</td>
    </tr>
    <tr>
        <th>Słowo kluczowe:</th>
        <td>{{ idea.slowo_kluczowe_id }}</td>
    </tr>
    <tr>
        <th>Opis:</th>
        <td>{{ idea.opis }}</td>
    </tr>
    <tr>
        <th>Planowane korzyści:</th>
        <td>{{ idea.planowane_korzysci }}</td>
    </tr>
    <tr>
        <th>Planowane koszty:</th>
        <td>{{ idea.planowane_koszty }}</td>
    </tr>
    <tr ng-if="idea.ocena_wazona!=-1">
        <th>Ocena ważona:</th>
        <td>{{ idea.ocena_wazona }}</td>
    </tr>
    <tr>
        <th>Załączniki: </th>
        <td>
            <ui>
                <li ng-repeat="att in idea.attachments">
                    <a href="/file/{{att.pk}}" type="button" target="_blank" class="btn btn-link"> {{ att.zalacznik__nazwa_pliku }}  </a>
                    <span> {{ att.rozmiar }} </span>                                
                </li>
            </ui>

        </td>
    </tr>
    
    
</table>