{% extends "base.html" %}
{% block title %} Posts {% endblock %}

{% block content %}

<h1>Forum inspiracji</h1>

<div ng-controller="postsListController" ng-init="init({{thread_id}})">
    <div class = idea-block>
        {% verbatim %}
        <table class="table">
            <tr>
                <th style="width: 25%">Temat:</th>
                <td>{{ thread.fields.temat }}</td>
            </tr>
            <tr>
                <th>Data dodania:</th>
                <td>{{ thread.fields.data_dodania }}</td>
            </tr>
            <tr>
                <th>Data ostatniego posta:</th>
                <td>{{ thread.fields.data_ostatniego_posta }}</td>
            </tr>
        </table>
        {% endverbatim %}
    </div>
    <div style="float: right;">
        <button type="button" class="btn btn-primary" ng-click="addPost(thread.pk)">Dodaj komentarz</button>
    </div>
    <div style="clear: both;"></div>

    <div ng-repeat="post in posts">
        <div class="idea-block">
            {% verbatim %}
            <table class="table">
                <tr>
                    <th style="width: 25%">Tytuł:</th>
                    <td>{{ post.tytul }}</td>
                </tr>
                <tr>
                    <th style="width: 25%">Treść:</th>
                    <td>{{ post.tresc }}</td>
                </tr>
                <tr>
                    <th>Data dodania:</th>
                    <td>{{ post.data_dodania }}</td>
                </tr>
                <tr ng-if="post.attachments">
                    <th>Załączniki:</th>
                    <td>
                        <ui>
                            <li ng-repeat="att in post.attachments">
                                <a href="/file/{{att.pk}}" type="button" target="_blank" class="btn btn-link"> {{ att.zalacznik__nazwa_pliku }}  </a>
                                <span> {{ att.rozmiar }} </span>                                
                            </li>
                        </ui>
                    </td>
                </tr>
            </table>
        </div>
        <div style="clear: both;"></div>
        {% endverbatim %}
    </div>
</div>

{% endblock %}