{% extends "base.html" %}
{% block title %} Opinions {% endblock %}

{% block content %}
<h1>Opinie na temat pomysłu: {{ idea.fields.tematyka }}</h1>

<div ng-controller="opinionsListController" ng-init="init()">  
    <div class="idea-block">
        <table class="opinion-table" ng-init="idea_id={{idea_id}}">
            {% verbatim %}
            <!-- <tr id="opinion-table-topic">
                <th style="width: 25%;">Temat:</th>
                <td></td>
            </tr> -->
            <tr id="opinion-table-row">
                <th style="width: 25%;">Opis:</th>
                <td>{{ opinion.fields.description }}</td>
            </tr>
            <tr id="idea-table-row">
                <th style="width: 25%;">Ocena ważona:</th>
                <td>{{ opinion.fields.rate }}</td>
            
            {% endverbatim %}
            </tr>        
        </table>
    </div>

    <div style="float: right;">
        <a href="{% url 'add_opinion' %}">
            <button type="button" class="btn btn-primary">Dodaj opinie</button>
        </a>
    </div>
    <div style="clear: both;"></div>

    <div class="opinion-block" ng-repeat="opinion in opinions | filter:searchStr">
        {% verbatim %}
        <table class="opinion-table">
            <tr>
                <th style="width: 25%">Data:</th>
                <td>{{ opinion.fields.data }}</td>
            </tr>
            <tr>
                <th>Ocena:</th>
                <td>{{ opinion.fields.ocena_liczbowa }}</td>
            </tr>
            <tr>
                <th>Opis:</th>
                <td>{{ opinion.fields.opis }}</td>
            </tr>
        </table>
        {% endverbatim %}
    </div>
  </div>
  
</div>
{% endblock %}