{% extends "base.html" %}
{% block title %} Innovation ideas {% endblock %}

{% block content %}
<h1>Wszystkie pomysły</h1>

<div ng-controller="ideasListController" ng-init="init()">  
    <div style="display: inline-block">
        <form role="form">
            <input type="text" class="form-control" placeholder="Filter..." ng-model="searchStr">
        </form>
    </div>
    <div style="float: right;">
        <a href="{% url 'add_idea' %}">
            <button type="button" class="btn btn-primary">Dodaj nowy pomysł</button>
        </a>
    </div>

    <div ng-repeat="idea in ideas | filter:searchStr">        
            <div class="idea-block">
                {% verbatim %}
                <idea-table idea="idea" show-attachments-count="true"/>
            </div>
            {% endverbatim %}
            <div class="btn-tollbar" style="float: right;">
                {% if user.is_superuser %}
                {% verbatim %}
                <button type="button" class="btn btn-danger" ng-click="blockIdea(idea.id)">Zablokuj</button>
                {% endverbatim %}
                {% endif %}
    
                {% verbatim %}
                <button type="button" class="btn btn-primary" ng-click="openIdeaOpinions(idea.id)">Przegladaj</button>
                {% endverbatim %}
            </div>
        <div style="float: right;">
            <button type="button" class="btn btn-primary" ng-click="editIdea(idea.id)">Edytuj</button>
        </div>
        <div style="clear: both;"></div>
    
</div>
{% endblock %}