{% extends "base.html" %}
{% block title %} Innovation ideas {% endblock %}

{% block content %}
<!--<h1>Pomysły użytkownika {{user.first_name}}</h1>-->
<h1>MOJE POMYSŁY</h1>
<div ng-controller="myIdeasListController" ng-init="init()">  
    <div style="display: inline-block; margin-left:50px;">
        <form role="form">
            <input type="text" class="form-control" placeholder="Filter..." ng-model="searchStr">
        </form>
    </div>
    <div style="float: right;">
        <a href="{% url 'add_idea' %}">
            <button type="button" class="btn btn-primary">Dodaj nowy pomysł</button>
        </a>
    </div>

    <div ng-repeat="idea in ideas_to_edit | filter:searchStr">
        <div class="idea-block">
            {% verbatim %}
            <my-idea-table idea="idea" show-attachments-count="true"/>
        </div>
        <div class="btn-tollbar" style="float: right;">
            <button type="button" id='block' class="btn btn-info" ng-click="editIdea(idea.id)">Edytuj</button>
            <button type="button" class="btn btn-primary" ng-click="openIdeaOpinions(idea.id)">Przegladaj</button>
        </div>
        <div style="clear: both;"></div>
        {% endverbatim %}
    </div>

    <div ng-repeat="idea in ideas_rest | filter:searchStr">
        <div class="idea-block">
            {% verbatim %}
            <my-idea-table idea="idea" show-attachments-count="true"/>
        </div>
        <div class="btn-tollbar" style="float: right;">
            <button type="button" id='block' class="btn btn-info" ng-click="editIdea(idea.id)">Edytuj (to delete)</button>
            <button type="button" class="btn btn-primary" ng-click="openIdeaOpinions(idea.id)">Przegladaj</button>
        </div>
        <div style="clear: both;"></div>
        {% endverbatim %}
    </div>
</div>
{% endblock %}