{% extends "base.html" %}
{% block title %} Innovation ideas {% endblock %}

{% block content %}


<div ng-controller="ideasFilteredController" ng-init="init('{{status}}')"> 
    <h1 ng-if="status=='Oczekujacy'">Pomysły oczekujące na decyzję</h1>
    <h1 ng-if="status=='Odlozony'">Odłożone pomysły</h1>
    <h1 ng-if="status=='Zablokowany'">Zablokowane pomysły</h1>

    <div style="display: inline-block; margin:0 50px;">
        <form role="form">
            <input type="text" class="form-control" placeholder="Filter..." ng-model="searchStr">
        </form>
    </div>


    <div ng-repeat="idea in ideas | filter:searchStr">
        <div class="idea-block-old" ng-if="idea.dni_od_dodania>20 && status=='Oczekujacy'">
            <my-idea-table idea="idea" show-attachments-count="true"/>
        </div>
        <div class="idea-block" ng-if="idea.dni_od_dodania<=20 || status!='Oczekujacy'">
            <my-idea-table idea="idea" show-attachments-count="true"/>
        </div>
        <div style="clear: both;"></div>
        <div style="float: right;margin:0 50px;" >
                <button type="button" class="btn btn-primary" ng-if="status=='Oczekujacy'" ng-click="openIdeaDecision(idea.id)">Wydaj decyzję</button>
                <button type="button" class="btn btn-primary" ng-if="status=='Odlozony'" ng-click="zmienstatus(idea.id, 'Oczekujacy')">Wznów</button>
                <button type="button" class="btn btn-danger" ng-if="status=='Zablokowany'" ng-click="removeIdea(idea.id)">Odrzuć</button>
                <button type="button" class="btn btn-primary" ng-if="status=='Zablokowany'" ng-click="zmienstatus(idea.id, 'Edycja')">Poproś o zmianę</button>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
{% endblock %}